*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(13, 13, 32);
    display: flex;
    align-items: center;
    justify-content: center;
}
#left, #right{
    width: 400px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed white;

}
.list{
    background: rgb(129, 2, 161);
    height: 60px;
    margin: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: grab;
}
.list img{
    width: 40px;
    margin-inline: 15px;
}
